.no-result{ "ng-show" => "noResult == true" }
  %h2 Wah, Maaf. Ngga ketemu.
  %h4
    Tertarik membantu melengkapi database kami? Harap kirim
    %br
    email ke
    = link_to "thecatcyborg+kodepos [at] gmail [dot] com", "mailto:"
