---
title: Cari Daerah Berdasarkan Kode Pos
css_classes: ["l-centered", "p-cari-daerah"]
---

.ng-cloak{ "ng-controller" => "PlacesCtrl" }
  .titles{ "ng-hide" => "submitted" }
    %h1 Cari Nama Daerah
    %h2 Berdasarkan Kode Pos

  %form.pencarian.cari-daerah{ "ng-submit" => "submit()" }
    .field
      %input#place-postalCode(type="text" ng-model="place.postalCode" name="postalCode" placeholder="Contoh: 15310")
      %input.submit-inline(type="submit" id="submit-inline" value="Mulai Pencarian" ng-show="submitted")
    .field{ "ng-hide" => "submitted" }
      %input.submit-bottom(type="submit" id="submit-bottom" value="Mulai Pencarian")

  .places
    = partial "partials/no-result"
    .place{ "ng-repeat" => "place in list" }
      .place-content
        .place-postal-code
          {{ place.postalCode }}
        .place-city
          {{ place.city }}
        .place-street
          {{ place.street }}

  %div(infinite-scroll="fetchNext()" infinite-scroll-distance="3")
  %div{ "ng-show" => "loading" }
    = "..."
