---
title: Cari Kode Pos Berdasarkan Alamat
css_classes: ["l-centered", "p-cari-kode-pos"]
---

.ng-cloak{ "ng-controller" => "PlacesCtrl" }
  .titles{ "ng-hide" => "submitted" }
    %h1 Cari Kode Pos
    %h2 Berdasarkan Alamat/Daerah/Kota

  %form.pencarian.cari-kode-pos{ "ng-submit" => "submit()" }
    .field
      %input#place-city(type="text" ng-model="place.city" name="city" placeholder="Contoh: Tangerang")
      %input#place-street(type="text" ng-model="place.street" name="street" placeholder="Contoh: Jln Sukahati")
      %input.submit-inline(type="submit" value="Mulai Pencarian" ng-show="submitted")
    .field{ "ng-hide" => "submitted" }
      %input.submit-bottom(type="submit" value="Mulai Pencarian")

  .places
    = partial "partials/no-result"
    .place{ "ng-repeat" => "place in list" }
      .place-content
        .place-postal-code
          {{ place.postalCode }}
        .place-city
          {{ place.city }}
        .place-street
          {{ place.street }}

  %div(infinite-scroll="fetchNext()" infinite-scroll-distance="3")
  %div{ "ng-show" => "loading" }
    = "..."

