---
title: Listing Semua Kode Pos
css_classes: ["l-centered", "p-semua-kota"]
---

.places{ "data-template-id" => "template-city" }
.js-load-more{ "data-url" => "#{api_host}/cities.json", style: "display: block;" }
  = "..."