---
title: Listing Semua Kode Pos
css_classes: ["l-centered", "p-semua-kode-pos"]
---

.places{ "data-template-id" => "template-postal-code" }
.js-load-more{ "data-url" => "#{api_host}/postalCodes.json", style: "display: block;" }
  = "..."