---
title: Listing Semua Kode Pos
css_classes: ["l-centered", "p-semua-kode-pos"]
---

.ng-cloak{ "ng-controller" => "PostalCodesCtrl" }
  .places
    .postal-code{ "ng-repeat" => "place in list" }
      = link_to "{{ place.postalCode }} ({{ place.total }})", "cari-daerah/?postalCode={{ place.postalCode }}", class: "postal-code-content"

  %div(infinite-scroll="fetchNext()" infinite-scroll-distance="3")
  %div{ "ng-show" => "loading" }
    = "..."
